form {
    display: grid;
    grid-template-columns: 200px 200px 500px;
    grid-gap: 16px;
}

label {
    grid-column: 1;
}

input, button, textarea {
    width: 200px;
    grid-column: 2;
}

.error {
    grid-column: 3;
    color: red;
}

.success {
    grid-column: 3;
    color: green;
}